.portfolio_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2rem;
  
  width: 75%;
  margin: 40px auto;
  height: auto;
  padding: 2rem;

}

section{
    height: max-content;
}
.portfolio_item{
    width: 300px;
    height: 350px;
    background-color: #fff;
    box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}
.img_cont{
    width: 100%;
    height: 70%;
    
}
.img_cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio_item h3{
    position: absolute;
    margin: 1rem 0;
    color: midnightblue;
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 1.7rem;
    
    
}
.portfolio_item a:hover{
    color: whitesmoke;
    background-image: linear-gradient(to bottom right, midnightblue,deepskyblue);
    border: none;
    
    
}


.portfolio_item a{
    text-decoration: none;
    padding: .8rem 1.4rem;
    border-radius: 3px;
    color: midnightblue;
    border: 1px solid deepskyblue;
    background-color:whitesmoke;
    font-size: 1.1rem;
    position: absolute;
    bottom: 1rem;
    display: inline-block;
}




@media(max-width: 1024px){
    .container{
        width: 80%;
    }
.portfolio_container{
    grid-template-columns: repeat(2,1fr);
   }
}
@media(max-width: 600px){
    .container{
        width: 90%;
    }
.portfolio_container{
    grid-template-columns: 1fr;
   }
}



    
    
