.portfolio_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2rem;
  background-color: white;
  width: 75%;
  margin: 40px auto;
  height: auto;
  padding: 2rem;

}
section{
    background-color: whitesmoke;
    height: max-content;
    
}
.portfolio_item{
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}
.img_cont{
    width: 100%;
    height: 70%;
    
}
.img_cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio_item h3{
    position: absolute;
    margin: 1rem 0;
    color: midnightblue;
    letter-spacing: .2rem;
    font-weight: 500;
    font-size: 1.4rem;
    
}
.portfolio_item a:hover{
    color: whitesmoke;
    background-image: linear-gradient(to bottom right, midnightblue,deepskyblue);
    border: 0;
    
}


.portfolio_item a{
    text-decoration: none;
    padding: .8rem 1.4rem;
    border-radius: 3px;
    color: midnightblue;
    border: 1px solid deepskyblue;
    background-color:whitesmoke;
    font-size: 1.1rem;
    position: absolute;
    bottom: 1rem;
    
}






/*button {
    background-image: linear-gradient(to bottom right, midnightblue,deepskyblue);
    padding: .8rem 1.4rem;
    position: absolute;
    margin: 4rem 10.5rem;
    font-size: 1.1rem;
    border-radius: 3px;
    color: white;
    border: none;    
  
} */





    
    
