.contact{
    width: 100%;
    text-align: center;
    height: 60vh;
    
}


.contact h1{
    color: #fff;
    font-size: 2.7rem;
    margin: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.contacts{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12;
}
.socials{
    display: flex;
    flex-direction: column;
    padding: .6rem;

}
 
.github{
    border: none;
    padding: 1.3rem;
    border-radius: 1rem;
    width: 300px;
    font-weight: 500;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);

    background-color: rgb(12, 12, 73);
}
.github h3{
    letter-spacing: .11rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.github h4{
    color: #fff;
    font-weight: 500;
}

.github a{
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
    color:#fff
} 
.github a:hover{
    text-decoration: underline;
    
}

.Mail{
    
    width: 300px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    margin: 15px auto;
    padding: 1.3rem;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 1rem;
    background-color: rgb(12, 12, 73);
}
.Mail h3{
    letter-spacing: .11rem;
    color: #fff;
    font-weight: 500;
}
.Mail h4{
    letter-spacing: .12rem;
    color: #fff;
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
input,textarea{
    padding: .6rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    border: 1px solid rgba(0,0,0,0.3);
    outline: grey;
    resize: none;
}
.contact_btn{
    background-color: midnightblue;
    width: max-content;
    display: block;
    padding: 0.9rem 1.5rem;
    border: 1px solid rgba(194, 181, 181, 0.3);
    border-radius: .4rem;
    color: white;
    font-size: 1.1rem;

}
.github .git{
    font-size: 2.5rem;
    color: #fff; 

}



.Mail .email{
    font-size: 3.5rem;
}
.contact_btn a{
    text-decoration: none;
    color: white;
}
.contact_btn a:hover{
    color: midnightblue;

}
.contact_btn:hover{
    background-color: deepskyblue;
    color: midnightblue;

}

