@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*{  margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    

}

body{
   
   background-image:linear-gradient(deepskyblue,midnightblue);
}

.container{
   margin: 0 auto;
   width: 75%;
}

nav{
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    background-color: midnightblue;

}
html{
   scroll-behavior: smooth;
   font-size: 62.5%;
}

::-webkit-scrollbar{
   display: none;
}

nav p{
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 50px;
    color: whitesmoke;
    text-shadow: 2px 2px grey;
    background-color: rgb(0,0,0,0.3);

}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 80px;
    list-style-type: none;
}
nav ul li{
    margin: 0 10px;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: deepskyblue;
    letter-spacing: 2px;
    background-color: midnightblue;
}

  
header{
    width: 100%;
    height: 100vh;
    background-color: midnightblue;
    text-align: left;
    background-image: linear-gradient(midnightblue,deepskyblue);

}

.intro-text{
    
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.intro-text h1{
    color: midnightblue;
    margin-left: 5rem;
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 3px 4px grey;
 }
 .intro-text h2{
        color: midnightblue;
        margin-left: 5rem;
        font-size: 3.5rem;
        letter-spacing: 3px;
        margin-top: 10px;
        text-shadow: 3px 4px grey; 
    
 }
 #Projects{
   width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
 }

 #Projects h1{
    font-size: 2.7rem;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    padding-top: 50px;
    text-transform: uppercase;
    
 }
 #Projects hr{
   width: 5%;
   height: .25rem;
   background-color: red;
   border: 0;
   margin-top: .5rem;
 }
 
 

 .intro-text a{
   background-color: midnightblue;
   text-align: center;
   color: #fff;
   text-decoration: none;
   font-size: 2rem;
   padding: 1rem;
   width: fit-content;
   border-radius: 8px;
 }
 .intro-text a:hover{
   background-color: deepskyblue;
   color: midnightblue;
   border: 1px solid midnightblue;
 }


 button.hero-butt{
   background-color: midnightblue;
   display: inline-block;
   width: max-content;
   padding: 1.1rem;
   border: 1px solid midnightblue;
   border-radius: 5px;
   position: absolute;
   bottom: 28%;
   left: 4.5%;
   
 }
 button.hero-butt a{
   color:#fff;
   text-decoration: none;
   font-size: 1.5rem;
   display: inline-block;
   

 }
 button.hero-butt:hover{
   background-color: deepskyblue;
   border: 0;
 }
 button.hero-butt a:hover{
   color: midnightblue;
 }


 section > h1{
    font-size: 2.7rem;
    padding-top: 50px;
    letter-spacing: 3px;
    color: #fff;
 }

 .about{
   width: 100%;
   height: auto;
   text-align: center;
   margin: auto;
   padding-bottom: 3rem;
}


.about h1{
   color: #fff;
   font-size: 3rem;
   text-transform: uppercase;
   letter-spacing: .5rem;
   font-weight: 500;
   margin-bottom: 2rem;
}

hr{
   width: 87%;
   margin: 0 auto;
}
.mypix{
   height: 25rem;
   width: 25rem;
   background-color: lightblue;
   
}
.mycontainer{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: rgb(243,243,243);
   box-shadow: 0 5px 15px rgb(0,0,0,0.3);
   border-radius: 10px;
}
.about-text{
   width: 40%;
   height: auto;
   margin: 3.5rem;
   font-size: 1.5rem;
   font-weight: 500;
   letter-spacing: 0.1rem;
   text-align: left;
   color: midnightblue;
   background-color: rgb(243,243,243);
   line-height: 2rem;
   
}
.nav1{
   background-color: rgba(0,0,0,0.15);
   padding: 1.2rem;
   border-radius: 50px;
   box-shadow: 0 3px 7px rgb(0,0,0,0.3);
   margin: 0 auto;
   position: fixed;
   display: none;
   box-sizing: border-box;
   width: 340px;
}
.nav1 a{
   background-color: transparent;
   font-size: 1.6rem;

}

 

@media(max-width: 1024px){
    .intro-text h1{
        font-size: 2rem;
        letter-spacing: 2px; 
     }
     .intro-text h2{  
        font-size: 3rem;
        letter-spacing: 2px;
        margin-top: 10px;

     }
     .intro-text a{
      font-size: 1.5rem;
   
     }

     .intro-text{
      text-align: center;
     }


     
     .cta_butt{
        display: inline-block;
        width: max-content;
        padding: 0.6rem;
        background-color: midnightblue;
        border: 1px solid deepskyblue;
        color: deepskyblue;
        border-radius: 3px;
        position: absolute;
        font-size: 1.3rem;
        left: 5rem;
        bottom: 18%;
        
       
     }
     #Projects{
      width: 100%;
     }
    

     .about{
      padding: 10px;
      text-align: center;
   
 }
.about-text{
   
   font-size: 1.3rem;
   margin-top: 1.5rem;
   text-align: left;
   color: midnightblue;
   
}

.about h1{
   font-size: 2.0rem;
   font-weight: 400;
}


.nav1{
   display: block;
   margin: 0 27%;
   z-index: 10;
   position: fixed;
}
nav >ul{
   display: none;
}
nav{
   box-shadow: 0 2px 3px rgba(0,0,0,0.01);
} 
.nav1 a{
   padding: 0.2rem 0.4rem ;
   text-align: center;
   
}
.nav1 a:hover{
   background-color: rgba(0,0,0,0.3);
   border-radius: 50%;
   color: white;
}
nav a.active{
   color: whitesmoke;
   background-color: rgba(0,0,0,0.15);
   border-radius: 50%;
}

.contacts{
   grid-template-columns: 1fr;
   gap: 2rem;
   
   
}
input,textarea{
   padding: .5rem;
   font-size: 1rem;
}
button .contact_btn{
   width: max-content;
   display: inline-block;
   font-size: 1rem;
   position: absolute;
   
}
.icons{
   padding: .5rem;

}


}



@media(max-width: 600px){
   .container{
      width: 80%;
   }

   .intro-text{
      text-align: center;
   }
    .intro-text h1{
        font-size: 2rem;
        letter-spacing: 1.3px; 
        text-shadow: 2px 2px grey;
     }

     .intro-text a{
      font-size: 1.1rem;

      
     }
     .intro-text h2{
        
        font-size: 2.1rem;
        letter-spacing: 1.1px;
        text-shadow: 2px 2px grey;
     }
     #Projects hr{display: none;}

     button{
        padding: 0.6rem;
        border-radius: 2.5px;
        
       
     }
     .portfolio_container{
      grid-template-columns: 1fr;
     }
     .about{
      padding: 3px;
  }
  .about-text{
   width: 80%;
   font-size: 1.1rem;
   padding-top: 1px;
   text-align: left;
   
   
}
  
.about h1{
   font-size: 1.7rem;
   margin-bottom: 5px;
   font-weight: 400;
}
.nav1{
   padding: 0.3rem;
   margin: 0 5%;
}
.nav1 a{
   padding: 0.1rem 0.2rem;
   
}
.contacts{
   width: 90%;
}

input,textarea{
   padding: .4rem;
   border-radius: 0.4rem;
   font-size: 0.9rem;
}
.cta_butt{
   display: inline-block;
   width: max-content;
   padding: 0.4rem;
   background-color: midnightblue;
   border: 1px solid deepskyblue;
   color: deepskyblue;
   border-radius: 3px;
   position: absolute;
   font-size: .8rem;
   left: 5rem;
   bottom: 16%;
  
}
.contact h1{
   font-size: 1.8rem;
   margin: .8rem;

}
#Projects h1{
   font-size: 1.7rem;
   font-weight: 400;
   padding-top: 50px;
}
nav p{
   margin-left: 2px;
}
    

}
 

    

 
